.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default,.ui-button,html .ui-button.ui-state-disabled:hover,html .ui-button.ui-state-disabled:active{border:1px solid #c5c5c5;background:#f6f6f6;font-weight:normal;color:#454545;}

table[align=center]{float:none;margin-left:auto;margin-right:auto;}

table[align=left]{float:none;margin-left:0px;margin-right:auto;}

table[align=right]{float:none;margin-left:auto;margin-right:0px;}

:root{--ownid-apple-font-family:Helvetica Neue,sans-serif;--ownid-md-font-family:Roboto,sans-serif;}

@font-face{font-family:GothamHTFBook;src:url("/content/dam/aemigrate/uploaded-folder/font/3xilja2.ttf") format("truetype");font-display:swap;}

@font-face{font-family:GothamHTFMedium;src:url("/content/dam/aemigrate/uploaded-folder/font/hfhe1h9.ttf") format("truetype");font-display:swap;}

@font-face{font-family:NescafeSansBold;src:url("/content/dam/aemigrate/uploaded-folder/font/rsheeww.woff2") format("woff2");font-display:swap;}

.bg--brand-green{background-color:rgb(119,193,154);}

html{line-height:1.15;text-size-adjust:100%;}

h1{font-size:2em;margin:0.67em 0px;}

a{background-color:transparent;}

sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}

sup{top:-0.5em;}

img{border-style:none;}

button,input{font-size:100%;line-height:1.15;margin:0px;}

button,input{overflow:visible;}

button{text-transform:none;}

[type="button"],[type="submit"],button{appearance:button;}

::-webkit-file-upload-button{appearance:button;font:inherit;}

html{box-sizing:border-box;font-size:100%;}

body{margin:0px;padding:0px;background:rgb(255,255,255);font-family:GothamHTFBook,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:400;line-height:1;color:rgb(34,34,34);-webkit-font-smoothing:antialiased;}

img{display:inline-block;vertical-align:middle;max-width:100%;height:auto;}

button{padding:0px;appearance:none;border:0px;border-radius:3px;background:transparent;line-height:1;}

button,input{font-family:inherit;}

.grid-container{padding-right:1.875rem;padding-left:1.875rem;max-width:2800px;margin-left:auto;margin-right:auto;}

@media print,screen and (min-width:48em) { .grid-container{padding-right:2.5rem;padding-left:2.5rem;} }

@media print,screen and (min-width:64em) { .grid-container{padding-right:2.5rem;padding-left:2.5rem;} }

.grid-x{display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-flow:wrap;}

.cell{-webkit-box-flex:0;flex:0 0 auto;min-height:0px;min-width:0px;width:100%;}

.grid-x > .small-12{flex-basis:auto;}

@media print,screen and (min-width:64em) { .grid-x > .large-4,.grid-x > .large-8,.grid-x > .large-10,.grid-x > .large-12{flex-basis:auto;} }

.grid-x > .small-12{-webkit-box-flex:0;flex:0 0 auto;}

.grid-x > .small-12{width:100%;}

@media print,screen and (min-width:64em) { .grid-x > .large-4,.grid-x > .large-8,.grid-x > .large-10,.grid-x > .large-12{-webkit-box-flex:0;flex:0 0 auto;}

.grid-x > .large-4{width:33.3333%;}

.grid-x > .large-8{width:66.6667%;}

.grid-x > .large-10{width:83.3333%;}

.grid-x > .large-12{width:100%;} }

@media screen and (max-width:63.9988em) { .show-for-large{display:none !important;} }

.button,.labelMediumBold{font-size:1rem;line-height:1.375rem;font-family:GothamHTFMedium,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:400;}

@media screen and (min-width:768px) { .button,.labelMediumBold{font-size:1.125rem;line-height:1.625rem;} }

.labelSmallBold,.link{font-size:0.875rem;line-height:1.375rem;font-family:GothamHTFMedium,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:400;}

@media screen and (min-width:768px) { .labelSmallBold,.link{font-size:1rem;line-height:1.375rem;} }

@media screen and (min-width:1024px) { .labelSmallBold,.link{font-size:1rem;line-height:1.5rem;} }

.bodyMediumRegular,.search-autocomplete--form-placeholder .form-item [type="text"]{font-size:1rem;line-height:1.4375rem;font-family:GothamHTFBook,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:500;}

@media screen and (min-width:768px) { .bodyMediumRegular,.search-autocomplete--form-placeholder .form-item [type="text"]{font-size:1rem;line-height:1.4375rem;} }

@media screen and (min-width:1024px) { .bodyMediumRegular,.search-autocomplete--form-placeholder .form-item [type="text"]{font-size:1rem;line-height:1.5rem;} }

.bodySmallRegular,.tag__label{font-size:0.875rem;line-height:1.1875rem;font-family:GothamHTFBook,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:500;}

@media screen and (min-width:768px) { .bodySmallRegular,.tag__label{font-size:0.875rem;line-height:1.25rem;} }

@media screen and (min-width:1024px) { .bodySmallRegular,.tag__label{font-size:0.875rem;line-height:1.25rem;} }

.utilityTagHighCaps{font-size:0.8125rem;line-height:1.25rem;font-family:GothamHTFBook,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:500;letter-spacing:0.03125rem;}

@media screen and (min-width:768px) { .utilityTagHighCaps{font-size:0.875rem;line-height:1.25rem;} }

.button,.link{font-family:GothamHTFMedium,"Helvetica Neue",Helvetica,Arial,sans-serif;}

:root{--navHeight:7rem;--breadcrumb-height:2.625rem;}

@media print,screen and (min-width:64em) { :root{--navHeight:6.25rem;} }

@media print,screen and (min-width:48em) { :root{--breadcrumb-height:2.75rem;} }

body,html{box-sizing:border-box;}

*,::after,::before{box-sizing:inherit;}

.grid-container{padding:0px;}

.bg--paper-white{background-repeat:repeat;}

.bg--paper-white{background-image:url('https://www.nescafe.com/in/themes/custom/nescafe/UI/build/images/30DECzi.jpg');}

.bg--paper-white:not(.no-auto-color){color:rgb(34,34,34);}

.elevation-1{box-shadow:rgba(0,0,0,0.11) 0px 1px 2px,rgba(0,0,0,0.07) 0px 1px 5px 1px;}

div,form,h1,li,p,ul{margin:0px;padding:0px;}

p{margin-bottom:0px;font-size:inherit;text-rendering:optimizelegibility;}

a{line-height:inherit;}

a{color:currentcolor;text-decoration:none;}

a img{border:0px;}

ul{margin-bottom:0px;list-style-position:outside;}

li{font-size:inherit;}

ul{list-style-type:none;}

ul{margin-left:0px;}

ul ul{margin-left:1.25rem;margin-bottom:0px;}

.animate-enter .animate-enter-fade-left-short{opacity:0;}

.animate-enter .animate-enter-fade-left-short{transform:translate3d(30px,0px,0px);}

.animate-enter .animate-enter-fade-right-short{transform:translate3d(-30px,0px,0px);}

.animate-enter .animate-enter-fade-right-short,.animate-enter .animate-enter-fade-up-short{opacity:0;}

.animate-enter .animate-enter-fade-up-short{transform:translate3d(0px,30px,0px);}

.back-to-top .button{box-shadow:rgba(0,0,0,0.08) 0px 0.5rem 0.75rem 0.375rem,rgba(0,0,0,0.12) 0px 0.25rem 0.25rem;padding:0.5rem 0.75rem;}

.back-to-top .button .button-text{display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-direction:row;-webkit-box-align:center;align-items:center;gap:0px;font-size:0px;}

@media print,screen and (min-width:48em) { .back-to-top .button .button-text{gap:0.75rem;font-size:inherit;} }

.back-to-top .button .button-text::before{content:" ";background-image:url('https://www.nescafe.com/in/themes/custom/nescafe/UI/build/images/2rlLQic.svg');background-repeat:no-repeat;background-size:0.5rem 0.8125rem;width:0.5rem;height:0.8125rem;}

.button,.link{position:relative;display:inline-block;width:auto;vertical-align:middle;text-decoration:none;}

.button{border-radius:0px 0px 0.4375rem;padding:0.625rem 1.5rem;}

.button.transparent-black{border:0.0625rem solid rgb(34,34,34);color:rgb(34,34,34);}

.button.transparent-white{border:0.0625rem solid rgb(255,255,255);color:rgb(255,255,255);}

.button.light-beige-accent{background-color:rgb(241,237,233);color:rgb(34,34,34);}

.button.red{background-color:rgb(190,76,75);color:rgb(255,255,255);}

.button.brown{background-color:rgb(67,48,31);color:rgb(255,255,255);}

.button.square-icon{width:2.5rem;height:2.5rem;padding:0px;}

@media print,screen and (min-width:64em) { .button.square-icon{width:2.625rem;height:2.625rem;} }

@media print,screen and (min-width:64em) { .button.corner-round{border-radius:0.25rem;} }

@media print,screen and (max-width:47.9988em) { .button.sm-transparent{background:transparent;} }

@media print,screen and (min-width:48em) and (max-width:63.9988em) { .button.md-transparent{background:transparent;} }

.button[disabled]{color:rgb(107,107,107);border-color:currentcolor;opacity:0.6;}

.tag{padding:0.25rem 0.625rem;display:inline-flex;-webkit-box-align:center;align-items:center;color:rgb(34,34,34);opacity:0.8;}

.recipe-card .recipe-img-container .recipe-tag-mobile{position:absolute;bottom:0.875rem;left:1rem;}

@media print,screen and (min-width:48em) { .recipe-card .recipe-img-container .recipe-tag-mobile{display:none;} }

.recipe-card
  .recipe-details
  .recipe-info
  .recipe-steps-and-ingredients
  .recipe-steps-separator{width:0.25rem;height:0.25rem;border-radius:50%;background-color:rgb(34,34,34);margin-left:0.5rem;margin-right:0.5rem;}

@media print,screen and (min-width:64em) { .recipe-card-grid-view .recipe-details .recipe-info .recipe-steps-separator{display:none;} }

.recipe-card-grid-view .recipe-img-container .recipe-tag-mobile{position:absolute;bottom:0.875rem;left:1rem;}

@media print,screen and (min-width:48em) { .recipe-card-grid-view .recipe-img-container .recipe-tag-mobile{display:block;} }

@media print,screen and (min-width:64em) { .recipe-card-grid-view .recipe-img-container .recipe-tag-mobile{display:none;} }

:root{--swiper-theme-color:#007aff;}

.swiper-control{width:2.5rem;height:2.5rem;border-radius:0.25rem;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;background:rgb(255,255,255);}

body::after{content:"";}

.coffee-profiler .swiper-controls .swiper-control{position:absolute;top:50%;z-index:2;}

.coffee-profiler .swiper-controls .swiper-control:disabled{display:none;}

:root{--ownid-apple-font-family:Helvetica Neue,sans-serif;--ownid-md-font-family:Roboto,sans-serif;}

@font-face{font-family:GothamHTFBook;src:url("/content/dam/aemigrate/uploaded-folder/font/3xilja2.ttf") format("truetype");font-display:swap;}

@font-face{font-family:GothamHTFMedium;src:url("/content/dam/aemigrate/uploaded-folder/font/hfhe1h9.ttf") format("truetype");font-display:swap;}

@font-face{font-family:NescafeSansBold;src:url("/content/dam/aemigrate/uploaded-folder/font/rsheeww.woff2") format("woff2");font-display:swap;}

html{line-height:1.15;text-size-adjust:100%;}

h1{font-size:2em;margin:0.67em 0px;}

a{background-color:transparent;}

img{border-style:none;}

button,input{font-size:100%;line-height:1.15;margin:0px;}

button,input{overflow:visible;}

button{text-transform:none;}

[type="button"],[type="submit"],button{appearance:button;}

::-webkit-file-upload-button{appearance:button;font:inherit;}

html{box-sizing:border-box;font-size:100%;}

body{margin:0px;padding:0px;background:rgb(255,255,255);font-family:GothamHTFBook,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:400;line-height:1;color:rgb(34,34,34);-webkit-font-smoothing:antialiased;}

img{display:inline-block;vertical-align:middle;max-width:100%;height:auto;}

button{padding:0px;appearance:none;border:0px;border-radius:3px;background:transparent;line-height:1;}

button,input{font-family:inherit;}

.grid-container{padding-right:1.875rem;padding-left:1.875rem;max-width:2800px;margin-left:auto;margin-right:auto;}

@media print,screen and (min-width:48em) { .grid-container{padding-right:2.5rem;padding-left:2.5rem;} }

@media print,screen and (min-width:64em) { .grid-container{padding-right:2.5rem;padding-left:2.5rem;} }

.grid-x{display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-flow:wrap;}

.cell{-webkit-box-flex:0;flex:0 0 auto;min-height:0px;min-width:0px;width:100%;}

.grid-x > .small-12{flex-basis:auto;}

@media print,screen and (min-width:64em) { .grid-x > .large-4,.grid-x > .large-8,.grid-x > .large-10,.grid-x > .large-12{flex-basis:auto;} }

.grid-x > .small-12{-webkit-box-flex:0;flex:0 0 auto;}

.grid-x > .small-12{width:100%;}

@media print,screen and (min-width:64em) { .grid-x > .large-4,.grid-x > .large-8,.grid-x > .large-10,.grid-x > .large-12{-webkit-box-flex:0;flex:0 0 auto;}

.grid-x > .large-4{width:33.3333%;}

.grid-x > .large-8{width:66.6667%;}

.grid-x > .large-10{width:83.3333%;}

.grid-x > .large-12{width:100%;} }

@media screen and (max-width:63.9988em) { .show-for-large{display:none !important;} }

.button,.labelMediumBold{font-size:1rem;line-height:1.375rem;font-family:GothamHTFMedium,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:400;}

@media screen and (min-width:768px) { .button,.labelMediumBold{font-size:1.125rem;line-height:1.625rem;} }

.labelSmallBold,.link{font-size:0.875rem;line-height:1.375rem;font-family:GothamHTFMedium,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:400;}

@media screen and (min-width:768px) { .labelSmallBold,.link{font-size:1rem;line-height:1.375rem;} }

@media screen and (min-width:1024px) { .labelSmallBold,.link{font-size:1rem;line-height:1.5rem;} }

.bodyMediumRegular,.search-autocomplete--form-placeholder .form-item [type="text"]{font-size:1rem;line-height:1.4375rem;font-family:GothamHTFBook,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:500;}

@media screen and (min-width:768px) { .bodyMediumRegular,.search-autocomplete--form-placeholder .form-item [type="text"]{font-size:1rem;line-height:1.4375rem;} }

@media screen and (min-width:1024px) { .bodyMediumRegular,.search-autocomplete--form-placeholder .form-item [type="text"]{font-size:1rem;line-height:1.5rem;} }

.bodySmallRegular{font-size:0.875rem;line-height:1.1875rem;font-family:GothamHTFBook,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:500;}

@media screen and (min-width:768px) { .bodySmallRegular{font-size:0.875rem;line-height:1.25rem;} }

@media screen and (min-width:1024px) { .bodySmallRegular{font-size:0.875rem;line-height:1.25rem;} }

.utilityTagHighCaps{font-size:0.8125rem;line-height:1.25rem;font-family:GothamHTFBook,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:500;letter-spacing:0.03125rem;}

@media screen and (min-width:768px) { .utilityTagHighCaps{font-size:0.875rem;line-height:1.25rem;} }

.button,.link{font-family:GothamHTFMedium,"Helvetica Neue",Helvetica,Arial,sans-serif;}

:root{--navHeight:7rem;--breadcrumb-height:2.625rem;}

@media print,screen and (min-width:64em) { :root{--navHeight:6.25rem;} }

@media print,screen and (min-width:48em) { :root{--breadcrumb-height:2.75rem;} }

body,html{box-sizing:border-box;}

*,::after,::before{box-sizing:inherit;}

.grid-container{padding:0px;}

div,form,h1,h2,li,p,ul{margin:0px;padding:0px;}

p{margin-bottom:0px;font-size:inherit;text-rendering:optimizelegibility;}

a{line-height:inherit;}

a{color:currentcolor;text-decoration:none;}

a img{border:0px;}

ul{margin-bottom:0px;list-style-position:outside;}

li{font-size:inherit;}

ul{list-style-type:none;}

ul{margin-left:0px;}

ul ul{margin-left:1.25rem;margin-bottom:0px;}

.animate-enter .animate-enter-fade-up-short{opacity:0;}

.animate-enter .animate-enter-fade-up-short{transform:translate3d(0px,30px,0px);}

.back-to-top .button{box-shadow:rgba(0,0,0,0.08) 0px 0.5rem 0.75rem 0.375rem,rgba(0,0,0,0.12) 0px 0.25rem 0.25rem;padding:0.5rem 0.75rem;}

.back-to-top .button .button-text{display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-direction:row;-webkit-box-align:center;align-items:center;gap:0px;font-size:0px;}

@media print,screen and (min-width:48em) { .back-to-top .button .button-text{gap:0.75rem;font-size:inherit;} }

.back-to-top .button .button-text::before{content:" ";background-image:url('https://www.nescafe.com/in/themes/custom/nescafe/UI/build/images/2rlLQic.svg');background-repeat:no-repeat;background-size:0.5rem 0.8125rem;width:0.5rem;height:0.8125rem;}

.button,.link{position:relative;display:inline-block;width:auto;vertical-align:middle;text-decoration:none;}

.button{border-radius:0px 0px 0.4375rem;padding:0.625rem 1.5rem;}

.button.transparent-black{border:0.0625rem solid rgb(34,34,34);color:rgb(34,34,34);}

.button.transparent-white{border:0.0625rem solid rgb(255,255,255);color:rgb(255,255,255);}

.button.light-beige-accent{background-color:rgb(241,237,233);color:rgb(34,34,34);}

.button.red{background-color:rgb(190,76,75);color:rgb(255,255,255);}

.button.brown{background-color:rgb(67,48,31);color:rgb(255,255,255);}

.button.square-icon{width:2.5rem;height:2.5rem;padding:0px;}

@media print,screen and (min-width:64em) { .button.square-icon{width:2.625rem;height:2.625rem;} }

@media print,screen and (min-width:64em) { .button.corner-round{border-radius:0.25rem;} }

@media print,screen and (max-width:47.9988em) { .button.sm-transparent{background:transparent;} }

@media print,screen and (min-width:48em) and (max-width:63.9988em) { .button.md-transparent{background:transparent;} }

.button[disabled]{color:rgb(107,107,107);border-color:currentcolor;opacity:0.6;}

:root{--swiper-theme-color:#007aff;}

body::after{content:"";}

:root{--ownid-apple-font-family:Helvetica Neue,sans-serif;--ownid-md-font-family:Roboto,sans-serif;}

@font-face{font-family:GothamHTFBook;src:url("/content/dam/aemigrate/uploaded-folder/font/3xilja2.ttf") format("truetype");font-display:swap;}

@font-face{font-family:GothamHTFMedium;src:url("/content/dam/aemigrate/uploaded-folder/font/hfhe1h9.ttf") format("truetype");font-display:swap;}

@font-face{font-family:NescafeSansBold;src:url("/content/dam/aemigrate/uploaded-folder/font/rsheeww.woff2") format("woff2");font-display:swap;}

html{line-height:1.15;text-size-adjust:100%;}

h1{font-size:2em;margin:0.67em 0px;}

a{background-color:transparent;}

img{border-style:none;}

button,input{font-size:100%;line-height:1.15;margin:0px;}

button,input{overflow:visible;}

button{text-transform:none;}

[type="button"],[type="submit"],button{appearance:button;}

fieldset{padding:0.35em 0.75em 0.625em;}

legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0px;white-space:normal;}

[type="radio"]{box-sizing:border-box;padding:0px;}

::-webkit-file-upload-button{appearance:button;font:inherit;}

html{box-sizing:border-box;font-size:100%;}

body{margin:0px;padding:0px;background:rgb(255,255,255);font-family:GothamHTFBook,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:400;line-height:1;color:rgb(34,34,34);-webkit-font-smoothing:antialiased;}

img{display:inline-block;vertical-align:middle;max-width:100%;height:auto;}

button{padding:0px;appearance:none;border:0px;border-radius:3px;background:transparent;line-height:1;}

button,input{font-family:inherit;}

.grid-container{padding-right:1.875rem;padding-left:1.875rem;max-width:2800px;margin-left:auto;margin-right:auto;}

@media print,screen and (min-width:48em) { .grid-container{padding-right:2.5rem;padding-left:2.5rem;} }

@media print,screen and (min-width:64em) { .grid-container{padding-right:2.5rem;padding-left:2.5rem;} }

.grid-x{display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-flow:wrap;}

.cell{-webkit-box-flex:0;flex:0 0 auto;min-height:0px;min-width:0px;width:100%;}

.grid-x > .small-12{flex-basis:auto;}

@media print,screen and (min-width:48em) { .grid-x > .medium-5,.grid-x > .medium-7{flex-basis:auto;} }

@media print,screen and (min-width:64em) { .grid-x > .large-4,.grid-x > .large-5,.grid-x > .large-6,.grid-x > .large-8,.grid-x > .large-10,.grid-x > .large-12{flex-basis:auto;} }

.grid-x > .small-12{-webkit-box-flex:0;flex:0 0 auto;}

.grid-x > .small-12{width:100%;}

@media print,screen and (min-width:48em) { .grid-x > .medium-5,.grid-x > .medium-7{-webkit-box-flex:0;flex:0 0 auto;}

.grid-x > .medium-5{width:41.6667%;}

.grid-x > .medium-7{width:58.3333%;} }

@media print,screen and (min-width:64em) { .grid-x > .large-4,.grid-x > .large-5,.grid-x > .large-6,.grid-x > .large-8,.grid-x > .large-10,.grid-x > .large-12{-webkit-box-flex:0;flex:0 0 auto;}

.grid-x > .large-4{width:33.3333%;}

.grid-x > .large-5{width:41.6667%;}

.grid-x > .large-6{width:50%;}

.grid-x > .large-8{width:66.6667%;}

.grid-x > .large-10{width:83.3333%;}

.grid-x > .large-12{width:100%;} }

@media screen and (max-width:63.9988em) { .show-for-large{display:none !important;} }

h1{font-size:2rem;line-height:2.5rem;font-family:NescafeSansBold,"Helvetica Neue",Helvetica,Arial,sans-serif;}

.button,.labelMediumBold{font-size:1rem;line-height:1.375rem;font-family:GothamHTFMedium,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:400;}

@media screen and (min-width:768px) { .button,.labelMediumBold{font-size:1.125rem;line-height:1.625rem;} }

.labelSmallBold,.link{font-size:0.875rem;line-height:1.375rem;font-family:GothamHTFMedium,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:400;}

@media screen and (min-width:768px) { .labelSmallBold,.link{font-size:1rem;line-height:1.375rem;} }

@media screen and (min-width:1024px) { .labelSmallBold,.link{font-size:1rem;line-height:1.5rem;} }

.bodyMediumRegular,.search-autocomplete--form-placeholder .form-item [type="text"]{font-size:1rem;line-height:1.4375rem;font-family:GothamHTFBook,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:500;}

@media screen and (min-width:768px) { .bodyMediumRegular,.search-autocomplete--form-placeholder .form-item [type="text"]{font-size:1rem;line-height:1.4375rem;} }

@media screen and (min-width:1024px) { .bodyMediumRegular,.search-autocomplete--form-placeholder .form-item [type="text"]{font-size:1rem;line-height:1.5rem;} }

.bodySmallRegular{font-size:0.875rem;line-height:1.1875rem;font-family:GothamHTFBook,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:500;}

@media screen and (min-width:768px) { .bodySmallRegular{font-size:0.875rem;line-height:1.25rem;} }

@media screen and (min-width:1024px) { .bodySmallRegular{font-size:0.875rem;line-height:1.25rem;} }

.utilityTagHighCaps{font-size:0.8125rem;line-height:1.25rem;font-family:GothamHTFBook,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:500;letter-spacing:0.03125rem;}

@media screen and (min-width:768px) { .utilityTagHighCaps{font-size:0.875rem;line-height:1.25rem;} }

.button,.link{font-family:GothamHTFMedium,"Helvetica Neue",Helvetica,Arial,sans-serif;}

:root{--navHeight:7rem;--breadcrumb-height:2.625rem;}

@media print,screen and (min-width:64em) { :root{--navHeight:6.25rem;} }

@media print,screen and (min-width:48em) { :root{--breadcrumb-height:2.75rem;} }

body,html{box-sizing:border-box;}

*,::after,::before{box-sizing:inherit;}

.grid-container{padding:0px;}

div,form,h1,li,p,ul{margin:0px;padding:0px;}

p{margin-bottom:0px;font-size:inherit;text-rendering:optimizelegibility;}

a{line-height:inherit;}

a{color:currentcolor;text-decoration:none;}

a img{border:0px;}

ul{margin-bottom:0px;list-style-position:outside;}

li{font-size:inherit;}

ul{list-style-type:none;}

ul{margin-left:0px;}

ul ul{margin-left:1.25rem;margin-bottom:0px;}

.animate-enter .animate-enter-fade-left-long{transform:translate3d(100px,0px,0px);}

.animate-enter .animate-enter-fade-left-long{opacity:0;}

.animate-enter .animate-enter-fade-up-short{opacity:0;}

.animate-enter .animate-enter-fade-up-short{transform:translate3d(0px,30px,0px);}

.back-to-top .button{box-shadow:rgba(0,0,0,0.08) 0px 0.5rem 0.75rem 0.375rem,rgba(0,0,0,0.12) 0px 0.25rem 0.25rem;padding:0.5rem 0.75rem;}

.back-to-top .button .button-text{display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-direction:row;-webkit-box-align:center;align-items:center;gap:0px;font-size:0px;}

@media print,screen and (min-width:48em) { .back-to-top .button .button-text{gap:0.75rem;font-size:inherit;} }

.back-to-top .button .button-text::before{content:" ";background-image:url('https://www.nescafe.com/in/themes/custom/nescafe/UI/build/images/2rlLQic.svg');background-repeat:no-repeat;background-size:0.5rem 0.8125rem;width:0.5rem;height:0.8125rem;}

.button,.link{position:relative;display:inline-block;width:auto;vertical-align:middle;text-decoration:none;}

.button{border-radius:0px 0px 0.4375rem;padding:0.625rem 1.5rem;}

.button.transparent-black{border:0.0625rem solid rgb(34,34,34);color:rgb(34,34,34);}

.button.transparent-white{border:0.0625rem solid rgb(255,255,255);color:rgb(255,255,255);}

.button.light-beige-accent{background-color:rgb(241,237,233);color:rgb(34,34,34);}

.button.red{background-color:rgb(190,76,75);color:rgb(255,255,255);}

.button.brown{background-color:rgb(67,48,31);color:rgb(255,255,255);}

.button.square-icon{width:2.5rem;height:2.5rem;padding:0px;}

@media print,screen and (min-width:64em) { .button.square-icon{width:2.625rem;height:2.625rem;} }

@media print,screen and (min-width:64em) { .button.corner-round{border-radius:0.25rem;} }

@media print,screen and (max-width:47.9988em) { .button.sm-transparent{background:transparent;} }

@media print,screen and (min-width:48em) and (max-width:63.9988em) { .button.md-transparent{background:transparent;} }

.button[disabled]{color:rgb(107,107,107);border-color:currentcolor;opacity:0.6;}

:root{--swiper-theme-color:#007aff;}

.swiper{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0px;z-index:1;display:block;}

.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;box-sizing:content-box;}

.swiper-wrapper{transform:translateZ(0px);}

.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;display:block;}

.cp-filter--swiper .swiper-wrapper li.swiper-slide{margin-right:0.625rem;}

.cp-filter--swiper .swiper-wrapper li.swiper-slide:last-child{margin-right:0px;}

.animation-hide,.animation-hide *{opacity:0;}